@import './utils/variables.scss';

.form {

    & label {
        padding-right: 10px;
    }

}

.submit {
    border: none;
    font-size: $font-size-button;
    padding: $font-size-button 0;
    // border-radius: 20px;
    // height: 40px;
    // width: 150px;
    // font-size: 1.4em;

    &:hover {
        background-color: $primary;
        color: white;
    }
}

.is-invalid {
    border-color: red;
    background-color: $secondary-transparent;
}