@import './utils/variables.scss';

.form {
    & input {
        margin-top: 20px;
        margin-left: 10px;
    }

    & label {
        font-size: 1.2em;
    }

}

.submit {
    margin-top: 20px;
    border: none;
    border-radius: 20px;
    height: 40px;
    width: 150px;
    font-size: 1.4em;

    &:hover {
        background-color: $primary;
        color: white;
    }
}

.is-invalid {
    border-color: red;
    background-color: $secondary-transparent;
}