@import './utils/variables.scss';

.main {
    justify-content: center;
    align-items: center;
}

.signup {
    margin-top: 30px;
    border: none;
    background: none;
    color: $primary;
    font-size: 1.1em;

    &_on {
        color: $tertiary;
    }
}

.form {
    margin: 0;
    border-right: 2px solid $tertiary;
    width: 50vw;

    &-container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &-group {
        & input {
            margin-left: 10px;
        }

        & label {
            color: $tertiary;
        }
    }

    &__title {
        color: $primary;

        &_on {
            color: $tertiary;
        }
    }

    &__submit {
        margin-top: 10px;
        background: $secondary;
        border: none;
        color: $tertiary;
        border-radius: 20px;
        height: 40px;
        width: 150px;
        font-size: 1.2em;

        &_on {
            color: white;
            background-color: $tertiary;
        }
    }

    &-right {
        width: 50vw;

        &__img {
            min-width: 300px;
            width: 50vw;
        }
    }

}