@import './utils/variables.scss';

.main-login {
    display: flex;
    align-items: center;
    height: 100vh;
}

.signup {
    margin-top: 30px;
    border: none;
    background: none;
    color: $primary;
    font-size: 1.1em;

    &_on {
        color: $tertiary;
    }
}

.form {
    &-container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &-group {
        & input {
            margin-left: 10px;
        }

        & label {
            color: $tertiary;
        }
    }

    &-login {
        margin: 0;
        border-right: 2px solid $tertiary;
        width: 50vw;



        &__title {
            color: $primary;

            &_on {
                color: $tertiary;
            }
        }

    }

    &-right {
        width: 50vw;

        &__img {
            min-width: 300px;
            width: 50vw;
        }
    }
}