@import './utils/variables.scss';


.posts {
    margin-top: 130px;

    &-list {
        max-width: 1400px;
    }
}


.card {
    background-color: white;
    margin: 20px 0 20px 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

    &-header {
        padding-left: 30px;
        height: 70px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__author {
        font-size: 1.5em;
        margin: 0;
    }

    &-main {
        display: flex;
        flex-direction: column;
    }

    &-footer {

        display: flex;
        justify-content: space-between;
        margin: 0 30px 0 30px;
        padding-bottom: 30px;

        &__btn {
            margin-left: 10px;

            & i {
                margin-right: 5px;
            }
        }

    }

    &__text {
        white-space: pre-wrap;
        text-align: justify;
        padding: 30px;
        margin: 0;

    }

    &__img {
        max-width: 100%;
        align-self: center;
        justify-self: center;
    }
}

.social {
    & button {
        border: none;
        background: transparent;
        font-size: 1.1em;


    }


    &__like {
        color: green;

        &:disabled {
            color: rgba(0, 128, 0, 0.4);
        }
    }

    &__dislike {
        color: red;
        position: relative;
        margin-left: 5px;

        & i {
            position: absolute;
            top: -12px
        }

        &:disabled {
            color: rgba(255, 0, 0, 0.4);
        }
    }

    &__dislikeQty {
        margin-left: 20px;
    }

}