@import './utils/variables.scss';
@import './utils/breakpoints.scss';


.posts {
    margin-top: $nav-height + 20px;

    @include header-breakpoint {
        margin-top: $nav-height-mobile + 20;
    }

    &-list {
        max-width: 800px;
    }
}


.post {
    background-color: white;
    margin-bottom: 20px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

    &-header {
        padding-left: 30px;
        height: 70px;
        display: flex;
        flex-direction: column;
        justify-content: center;


        &__author {
            font-size: 1.5em;
            margin: 0;
        }

        &__date {
            &-date {

                text-transform: capitalize;
            }
        }
    }


    &-main {
        display: flex;
        flex-direction: column;

        &__text {
            white-space: pre-wrap;
            text-align: justify;
            padding: 30px;
            margin: 0;

        }

        &__img {
            width: 100%;
            aspect-ratio: 4/3;
            object-fit: cover;
            align-self: center;
            justify-self: center;
        }
    }

    &-footer {

        display: flex;
        flex-direction: column;
        margin: 0 30px 0 30px;

        &-social {
            display: flex;
            align-items: center;
            padding-bottom: 30px;

            &__like {
                border: none;
                background: transparent;
                color: transparent;

                & :hover {
                    opacity: 0.8;
                }

                &-icon {
                    width: 2em;
                    height: 2em;
                }

                &_liked {
                    color: green;
                }
            }

            &__liked {
                margin-left: 20px;
                color: $tertiary;

            }

        }



        &__update {
            display: flex;
            align-items: center;
            margin: 0 -30px;
        }

        &__btn {
            display: flex;
            width: 50%;
            padding: $font-size-button 0;
            justify-content: center;

            @include mobile-breakpoint {
                &>.icon {
                    width: 1.5em;
                    height: 1.5em;
                }
            }

            &:hover {
                background-color: $secondary;
            }

            &-text {
                @include mobile-breakpoint {
                    display: none;
                }
            }

            &-update {
                &:hover {
                    color: blue;
                }
            }

            &-delete {
                &:hover {
                    color: $primary;
                }
            }
        }
    }

}