@import './utils/variables.scss';

.header {
    position: fixed;
    width: 100vw;
}

.main {
    display: flex;
    justify-content: center;
    background-color: #F7F8FA;
}

.nav {
    display: flex;
    align-items: center;
    background-color: $primary-darken;
    padding: 10px;
    height: 100px;

    &-list {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        font-size: 1.4em;

        &__item {
            margin: 0 20px 0 20px;

            &_active a {
                color: #4E5166;
            }
        }
    }
}

.btn {
    border: none;
    background-color: transparent;
    color: $tertiary;
    font-size: 1.2em;

    &:hover {
        color: $primary;
    }

}