@import './utils/variables.scss';

.header {
    position: fixed;
    width: 100vw;
}

.main {
    display: flex;
    justify-content: center;
    background-color: #F7F8FA;
}

.nav {
    display: flex;
    align-items: center;
    background-color: $primary;
    padding: 10px;
    height: 40px;

    &__logo {
        cursor: pointer;
        height: 100%;

    }

    &-list {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        font-size: 1.2em;
        margin: 0 10px 0 10px;
        justify-content: space-between;

        &__link {
            display: flex;

            &:hover {
                color: $tertiary
            }
        }

        &__item {
            margin: 0 20px 0 20px;

        }
    }
}


.btn {
    border: none;
    background-color: transparent;
    color: $tertiary;
    font-size: 1.2em;
}

button:hover {
    color: $primary;
}

.invalid-feedback {
    text-align: right;
    color: $primary;
}