body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #fd2d01;
  color: white;
  font-size: 1.4em
}

.navbar-brand {
  margin: 0 10px 0 10px
}

.nav-list {
  display: flex;
}

.nav-item {
  margin: 0 20px 0 20px;
}

.active a {
  color: #4E5166;
}

.posts-row {
  width: 90%;
  margin-left: 5%;
}

.card {
  border: 1px solid;
  width: 100%;
  padding: 10px;
  margin: 10px;
}

.like-container {
  display: flex;
  margin-top: 5px;
}

.like {
  padding: 0 5px 0 5px;
}